/node_modules/
/Mopidy_Iris.egg-info/
public_html
/dist/
/.sass-cache/
*.orig
Thumbs.db
*.pyc
npm-debug.log
*sublime*
.DS_Store
.idea
._*
venv
docker/mopidy.conf
docker/data/
docker/icecast2.xml
docker-compose.yml
/.tox/
/__tests__/__pycache__/
/coverage/
