/node_modules/
/Mopidy_Iris.egg-info/
/mopidy_iris/static/*
public_html
/dist/
/build/
/.sass-cache/
*.orig
Thumbs.db
*.pyc
npm-debug.log
*sublime*
.DS_Store
.idea
._*
venv
docker/snapserver/snapserver.conf
docker/snapserver/snapserver.json
docker/snapserver/meta_mopidy.py
docker/mopidy/mopidy.conf
docker/mopidy/iris/
docker/mopidy/m3u/
docker/mopidy/icecast2.xml
docker/jellyfin/
docker-compose.yml
/.tox/
/__tests__/__pycache__/
/coverage/
/docker_secondary/
