recursive-include mopidy_iris/static *
recursive-include mopidy_iris *.py
recursive-include docs *
recursive-include __tests__ *.py
recursive-include __tests__ *.js
recursive-include __mocks__ *.js
include mopidy_iris/ext.conf
include mopidy_iris/system.sh
include IRIS_VERSION
include Dockerfile
include pyproject.toml
include screenshot.jpg
include tox.ini