
.debug-info {
	font-size: 10px;
	position: fixed;
	top: 10px;
	right: 10px;
	border-radius: 3px;
	z-index: 96;
	padding: 10px;
	background: rgba(10, 10, 10, 0.7);
	color: $white;
	pointer-events: none;
	width: 200px;
}