
.dropdown-field {
	@include noselect();
	font-size: 13px;
	font-weight: 800;
	font-family: "Overpass";
	position: relative;
	display: inline-block;

	.label {
		.icon {
			padding-right: 8px;
		}

		&:not(.button) {
			@include animate();
			padding: 14px 10px;
			cursor: pointer;

			.notouch &:hover {
				color: colour(blue);
			}
		}
	}

	&.expanded {
		.label:not(.button) {
			color: colour(blue);
		}
		.options {
			display: block;
		}
	}

	&.no-status-icon {
		.options {
			.option {
				padding-left: 12px;
			}
		}
	}

	&.no-label {
		.label > .text {
			display: none;
		}
	}

	.options {
		position: absolute;
		top: 46px;
		right: 10px;
		z-index: 97;
		display: none;
		box-shadow: 2px 3px 6px rgba(0,0,0,0.2);

		&:before {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			background: colour(white);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			top: -3px;
			right: 9px;

			.light-theme & {
				background: colour(faint_grey);
			}
		}

		& > .liner {
			color: colour(black);
			background: colour(white);
			min-width: 120px;
			max-height: 70vh;
			overflow-y: auto;
			border-radius: 3px;

			.light-theme & {
				background: colour(faint_grey);
			}

			.option {
				@include animate();
				position: relative;
				padding: 9px 12px 8px 24px;
				cursor: pointer;
				color: colour(black);
				
				&:before {
					@include animate();
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					opacity: 0;
					z-index: 9;
					background: -webkit-linear-gradient(to bottom right, rgba(255,255,255,1), rgba(0,0,0,0.5));
					background: -moz-linear-gradient(to bottom right, rgba(255,255,255,1), rgba(0,0,0,0.5));
					background: -o-linear-gradient(to bottom right, rgba(255,255,255,1), rgba(0,0,0,0.5));
					background: linear-gradient(to bottom right, rgba(255,255,255,1), rgba(0,0,0,0.5));
				}

				.icon {
					position: absolute;
					top: 8px;
					left: 6px;
					font-size: 16px;
				}

				.notouch &:hover {
					color: colour(black);

					&:before {
						opacity: 0.15;
					}
				}
			}
		}
	}
}

#context-menu {	
	.dropdown-field {
		padding: 16px 0;

		&:active,
		&:focus {
			background: none !important;
		}

		.label {
			padding: 0 0 3px 0;
			opacity: 0.5;
			font-size: 1rem;

			&,
			&:hover {
				color: colour(white);
			}
		}

		.options {
			display: block;
			position: static;
			background: transparent;
			border-radius: 0;
			border: 0;
			box-shadow: none;
			font-weight: 700;
			font-size: 1.2rem;

			&:before {
				display: none !important;
			}

			& > .liner {
				background: transparent;
				color: colour(white) !important;
				margin: -3px -5px;

				&:before {
					display: none !important;
				}

				.option {
					display: inline-block;
					padding: 3px 5px;
					border-radius: 0;
					color: colour(white) !important;

					&:before {
						display: none !important;
					}

					.icon {
						display: inline-block;
						position: static;
						padding-right: 2px;
						padding-bottom: 3px;
						font-size: 0.9em;
					}
				}
			}
		}
	}	
}
