
.dropdown-field {
	font-size: 13px;
	font-weight: 600;
	font-family: "Overpass";
	position: relative;
	display: inline-block;

	.label {
		padding: 14px 10px;		
		cursor: pointer;
	}

	&.expanded {
		.label {
			color: $blue;
		}
		.options {
			display: block;
		}
	}

	.options {
		color: $mid_grey;
		position: absolute;
		top: 46px;
		right: 0px;
		z-index: 97;
		background: $white;
		border-top: 1px solid $mid_grey;
		display: none;

		.option {
			position: relative;
			padding: 6px 14px 6px 18px;
			cursor: pointer;

			.fa {
				position: absolute;
				top: 7px;
				left: 5px;
				font-size: 10px;
			}

			&:hover {
				color: $black;
			}
		}
	}
}

