
.filter-field {
	form {
		display: inline-block;
		position: relative;
	}

	.icon {
		position: absolute;
		top: 10px;
		left: 15px;
		pointer-events: none;
	}

	input {
		@include animate();
		width: 0;
		padding-left: 25px;
	}

	&:not(.active){
		input {
			cursor: pointer;
			background: transparent !important;
		}
		
		&:hover {
			.icon {
				color: $blue;
			}
		}
	}

	&.active {
		input {
			width: 180px;
			padding-left: 35px;
			background: $grey;
		}
	}
}

#context-menu {
	.filter-field {
		display: block;
		border-bottom: 1px solid lighten($grey, 5%);

		.icon {
			top: 15px;
			left: 24px;
			color: $white !important;
		}

		form {
			width: 100%;

			input {
				padding: 14px 18px 14px 42px;
				width: 100%;
				box-sizing: border-box;
			}			
		}
	}
}