
.grid-slider-wrapper {
	padding-bottom: 40px;

	.grid-slider {
		position: relative;
		overflow-x: scroll;
		overflow-y: hidden;
		height: 220px;

		.liner {
			position: absolute;
			top: 0;
			left: 0;
			width: 400%;
			box-sizing: border-box;

			.grid-item {
				width: 4%;
				margin: 0 0.5% !important;
			}
		}
	}	
}