
main {
	header {
		padding: 14px 20px;
		background: #EEEEEE;
		line-height: 24px;

		h1 {
			font-size: 22px;
			font-weight: 100;
			display: inline-block;
		}

		.icon {
			display: inline-block;
			padding-right: 14px;
			height: 16px;
		}

		@include responsive( $bp_medium ){
			.icon {
				visibility: hidden;
			}
		}

		.actions {
			position: absolute;
			top: 0;
			right: 10px;

			button {
				background: transparent;
				font-size: 14px;
				font-weight: 600;
				padding: 13px 10px;
				line-height: 24px;
				text-transform: uppercase;
			}
		}
	}
}