
main {
	header {
		box-sizing: border-box;
		padding: 40px;
		margin-bottom: -40px;

		h1 {
			display: inline-block;

			& > .icon {
				display: inline-block;
				padding-right: 14px;
				vertical-align: bottom;
				margin-bottom: 8px;
				font-size: 0.9em;
			}
		}

		.header__options {
			position: absolute;
			top: 2.6rem;
			right: 40px;

			&__wrapper {
				display: flex;
			}

			.context-menu-trigger {
				display: none;
				font-size: 18px;
				padding: 16px 14px;
			}

			.button,
			button {
				font-size: 13px;
				font-weight: 800;
				font-family: "Overpass";
				background: transparent;
				text-transform: none;
				padding: 13px 10px;
				margin: 0;
				min-width: 0;
				color: colour(light_grey);
				vertical-align: unset;
				border: none;

				&:hover {
					color: colour(blue);
					box-shadow: none;

					&:before {
						display: none;
					}
				}

				@include theme('light') {
					color: colour(darkest_grey);

					&:hover {
						color: colour(blue);
					}

					&:active {
						background: transparent;
					}
				}
			}
		}

		&.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 98;
		}

		@include responsive($bp_medium){
			padding: 10px 10px 10px 0;
			margin-bottom: -10px;

			h1 {
				vertical-align: top;
				padding-top: 6px;

				& > .icon {
					margin-bottom: 2px;
					padding-right: 6px;
					margin-left: 10px;
				}
			}

			.header__options {
				top: 1rem;
				right: 1rem;

				.context-menu-trigger {
					display: block;
					font-size: 1.4rem;
				}

				&__wrapper {
					display: none;
				}
			}
		}
	}
}