
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;;
    src: url(../assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(../assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
      url(../assets/fonts/MaterialIcons-Regular.woff) format('woff'),
      url(../assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
	@include noselect();

	&--material {
	    font-family: 'Material Icons';
	    font-weight: normal;
	    font-style: normal;
	    display: inline-block;
	    line-height: 1;
	    text-transform: none;
	    letter-spacing: normal;
	    word-wrap: normal;
	    white-space: nowrap;
	    direction: ltr;
	    vertical-align: bottom;
	    font-size: 1.3em;
	    margin-bottom: 0.1em;
	    -webkit-font-smoothing: antialiased;
	    text-rendering: optimizeLegibility;
	    -moz-osx-font-smoothing: grayscale;
	    font-feature-settings: 'liga';
	}

	&--fontawesome {

	}

	&--svg {
	}

	&--spin {
		@include spin(1s);
		padding: 0 0.32em !important;
	}
}