

.thumbnail {
	width: 100%;
	max-width: 300px;
	overflow: hidden;
	
	.image {
		width: 100%;
		padding-bottom: 100%;
		position: relative;
		background-repeat: no-repeat;
		background-color: $light_grey;
		background-position: 50% 50%;
		background-size: cover;
	}

	&.small {
		max-width: 50px;
	}

	&.circle {
		border-radius: 50%;
	}
}

.parallax {
	height: 50vh;
	width: 100%;
	overflow: hidden;
	background: $dark_grey;

	canvas {
		width: 100%;
		height: 100%;
		opacity: 0;
		@include animate( 0.1s );

		&.loaded {
			opacity: 0.5;
		}
	}
}