
.list {

	.list-item {

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		display: block;
		position: relative;
		padding: 12px 10px 12px 20px;
		border-top: 1px solid $faint_grey;
		border-bottom: 1px solid $faint_grey;
		margin-bottom: -1px;
		@include clearfix;

		&.selected {
			background: $yellow !important;
		}

		&:not(.header):hover {
			background: $faint_grey;
			cursor: pointer;
			border-color: $faint_grey;
		}

		&.header {
			font-size: 10px;
			color: #CCCCCC;
			text-transform: uppercase;
			border-top: 0;
			padding-bottom: 2px;
		}
	}

	&.track-list .list-item {
		padding-left: 40px;

		.col {
			&.name { 
				width: 40%;
			}
			&.artists,
			&.album { 
				width: 25%;
			}
			&.duration {
				width: 5%;
			}
		}

		.select-state {
			position: absolute;
			top: 15px;
			left: 15px;
			font-size: 10px;
		}

		.play-state {
			display: none;
			position: absolute;
			top: 16px;
			left: 15px;
			font-size: 10px;
		}

		&.playing {
			font-weight: 600;
			.play-state {
				display: block;
				opacity: 1;
			}
		}

		&.playing.selected {
			.play-state {
				display: none;
			}
		}

		:root .dragging &:hover {
			border-top: 3px solid $blue;
			margin-top: -3px;
			background: transparent;
		}
	}

	&.playlist-list .list-item {
		.col {
			&.name { 
				width: 50%;
			}
			&.owner {
				width: 20%
			}
			&.source,
			&.can_edit,
			&.tracks_total,
			&.popularity {
				width: 10%;
			}
		}
	}

	&.album-list .list-item {
		.col {
			&.name,
			&.artists { 
				width: 30%;
			}
			&.added_at,
			&.release_date {
				width: 15%;
			}
			&.tracks_total {
				width: 10%;
			}
		}
	}

	&.artist-list .list-item {
		.col {
			&.name { 
				width: 70%;
			}
			&.followers_total,
			&.popularity {
				width: 15%;
			}
		}
	}

	&.queue-track-list {
		.col {
			&.name,
			&.artists,
			&.album { 
				width: 25% !important;
			}
			&.added { 
				width: 20%;
			}
		}
	}

	&.queue-history-track-list .list-item {
		.col {
			&.name { 
				width: 60%;
			}
			&.played_at,
			&.source {
				width: 20%;
			}
		}
	}

	&.related-artist-list {
		.artist {
			display: block;
			border: 0;
			margin-bottom: 5px;
			@include clearfix;

			.thumbnail {
				@include animate();
				width: 50px;
				margin-right: 15px;
				float: left;
				border: 3px solid transparent;
			}

			.name {
				display: block;
				padding-top: 20px;
			}
		}

		a.artist:hover {
			.thumbnail {
				border-color: $turquoise;
				opacity: 0.8;
			}
		}
	}

	@include responsive( $bp_medium ){
		.list-item {
			padding: 7px 10px 7px 16px !important;

			&.track {
				.select-state,
				.play-state {
					display: none !important;
				}
			}

			.col {
				&.name {
					width: 90% !important;
					padding-right: 10%;
				}

				&.duration {
					width: auto;
					position: absolute;
					right: 10px;
					text-align: right;
				}

				&:not(.name):not(.duration){
					color: $mid_grey;
					display: inline-block;
					width: auto !important;
				}

				&:not(.name):not(.duration):not(:nth-child(2)){
					@include bullet();
				}

				&.followers_total:after {
					content: ' followers';
				}

				&.tracks_total:after {
					content: ' tracks';
				}

				&.popularity:after {
					content: '% popularity';
				}

				&.can_edit,
				&.release_date {
					display: none;
				}
			}

			&.header { 
				display: none; 
			}
		}
	}
}