
.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	background: $overlay_dark;
	overflow-y: scroll;

	.close-modal {
		@include animate();
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: 0.5;
		cursor: pointer;
		padding: 20px;
		z-index: 99;

		img {
			width: 30px;
		}

		&:hover {
			opacity: 1;
		}
	}

	.content {
		padding: 100px 25%;
		margin: 0 auto;
		width: 50%;
		color: #FFFFFF;

		h4 {
			padding-bottom: 40px;
		}

		form {
			.field {
				padding-bottom: 20px;

				input[type="text"]{
					background: transparent;
					font-size: 24px;
					border-bottom: 2px solid #FFFFFF;
					padding-left: 0;
					padding-right: 0;
					width: 100%;
					color: #FFFFFF;

					&:focus,
					&:active {
						border-color: $turquoise;
					}
				}

				.label {
					font-size: 16px;
				}
			}

			button[type="submit"]{
				margin-top: 50px;
			}
		}

		.list {
			@include clearfix();
			padding-top: 30px;

			.list-item {
				box-sizing: border-box;
				display: block;
				padding: 16px 18px;
				border-bottom: 1px solid $mid_grey;
				border-top: 0;
				position: relative;

				&:nth-child(1){
					border-top: 1px solid $mid_grey;
				}

				.source {
					position: absolute;
					top: 18px;
					left: 10px;
				}
			}

			&.playlists {
				padding-top: 0;

				.list-item {
					padding-left: 30px;
				}
			}

			&.small .list-item {
				width: 49%;
				float: left;

				&:nth-child(2){
					border-top: 1px solid $mid_grey;
				}

				&:nth-child(2n){
					margin-left: 2%;
				}
			}
		}
	}


	&.image_zoom {
		.content {
			text-align: center;
			padding: 5vh 5%;
			width: 90%;

			img {
				max-height: 90vh;
				max-width: 100%;
			}
		}
	}

	&.edit_radio {
		form {
			.field {
				position: relative;
				margin-top: 50px;

				input[type="text"]{
					padding-right: 80px;
				}
			}			
		}

		button.add-uri,
		button.remove-uri {
			position: absolute;
			top: 3px;
			right: 0;
			padding: 14px;
			margin: 0;
			min-width: 0;
			color: #FFFFFF;
		}
	}

	&.kiosk_mode {
		background: #000000;
		overflow: hidden;

		.content {
			padding: 5%;
			width: 90%;
			height: 90%;
			text-align: center;

			.background {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0.2;
				max-width: none;

				.image {
					@include blur();
					width: 110vw;
					padding-bottom: 110vh;
				}
			}

			.foreground {
				width: 70vw;
				margin: 0 auto;
				max-width: 70vh;
				max-height: 70vh;
				z-index: 2;
			}

			.current-track {
				padding-top: 50px;
				font-size: 30px;
			}
		}
	}

	&.receive_authorization {
		.user-view {
			padding-top: 40px;

			.thumbnail {
				max-width: 150px;
			}
		}
	}

	&.volume {
		.slider {
			position: absolute;
			top: 10vh;
			left: 55vw;
			height: 80vh;
			width: 20vw;

			.track {
				width: auto;
				left: 25%;
				right: 25%;
			}
		}

		.toggle-mute {
			position: absolute;
			font-size: 16vh;
			top: 42vh;
			left: 20vw;

			.fa.muted {
				color: $red;
			}
		}
	}

	.actions {
		padding-top: 50px;
		text-align: center;

		.button,
		button {
			margin: 0 3px;
		}
	}

	@include responsive( $bp_medium ){

		.content {
			padding: 100px 10%;
			width: 80%;

			.list {
				.list-item {
					float: none !important;
					width: auto;
					margin-left: 0 !important;
					border-top: 0;
					width: auto !important;

					&:nth-child(1){
						border-top: 1px solid $mid_grey;
					}
				}
			}

		}
	}
}