
.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	background: rgba(10, 10, 10, 0.95);
	overflow-y: scroll;

	.close-modal {
		@include animate();
		position: absolute;
		top: 10px;
		right: 10px;
		opacity: 0.5;
		cursor: pointer;
		padding: 20px;

		img {
			width: 30px;
		}

		&:hover {
			opacity: 1;
		}
	}

	.content {
		padding: 100px 25%;
		margin: 0 auto;
		width: 50%;
		color: #FFFFFF;

		h4 {
			padding-bottom: 40px;
		}

		form {
			.field {
				padding-bottom: 20px;

				input[type="text"]{
					background: transparent;
					font-size: 24px;
					border-bottom: 2px solid #FFFFFF;
					padding-left: 0;
					padding-right: 0;
					width: 100%;
					color: #FFFFFF;

					&:focus,
					&:active {
						border-color: $turquoise;
					}
				}

				.label {
					font-size: 16px;
				}
			}

			button[type="submit"]{
				margin-top: 50px;
			}
		}

		.list {
			@include clearfix();

			.list-item {
				float: left;
				box-sizing: border-box;
				display: block;
				width: 49%;
				padding: 16px 18px;
				border-bottom: 1px solid $mid_grey;
				border-top: 0;
				position: relative;

				&.playlist {
					padding-left: 30px;
				}

				.source {
					position: absolute;
					top: 18px;
					left: 10px;
				}

				&:nth-child(1),
				&:nth-child(2){
					border-top: 1px solid $mid_grey;
				}

				&:nth-child(2n){
					margin-left: 2%;
				}

				&:hover {
					cursor: pointer;
					background: rgba(255,255,255,0.1);
				}
			}

			&.pusher-connection-list {
				padding-top: 50px;
			}
		}
	}

	@include responsive( $bp_medium ){

		.content {
			padding: 50px 10%;
			width: 80%;

			.list {
				.list-item {
					float: none !important;
					width: auto;
					margin-left: 0 !important;
					border-top: 0;

					&:nth-child(1){
						border-top: 1px solid $mid_grey;
					}
				}
			}

		}
	}
}