
.modal-open {
	.body {
		@include blur(10px);
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	background: $overlay_dark;
	overflow-y: scroll;

	.controls {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 99;

		.control {
			@include animate();
			display: block;
			float: right;
			opacity: 0.5;
			cursor: pointer;
			padding: 20px;

			img {
				width: 30px;
			}

			&:hover {
				opacity: 1;
			}

			.fa {
				font-size: 24px;
			}
		}
	}

	.content {
		padding: 80px 25%;
		margin: 0 auto;
		width: 50%;
		color: $white;

		form {
			padding-top: 50px;

			.field {
				padding-bottom: 30px;
				position: relative;

				.label {
					font-size: 16px;
				}

				&.text,
				&.radio,
				&.checkbox {
					& > .label {
						opacity: 0.5;
						width: 100px;
						position: absolute;
						top: 12px;
						left: 0;
						pointer-events: none;
						padding: 0;
					}
				}

				&.text {
					input {
						background: transparent;
						font-size: 18px;
						padding-left: 100px;
						padding-right: 0;
						width: 100%;
						color: $white;
						border-bottom: 2px solid $white;
						border-radius: 0;

						&:focus,
						&:active {
							border-color: $turquoise;
						}
					}
				}

				&.radio,
				&.checkbox {
					padding-left: 100px;
					padding-top: 8px;
				}
			}

			button[type="submit"]{
				margin-top: 50px;
			}
		}

		.list {
			@include clearfix();

			.list-item {
				@include animate();
				box-sizing: border-box;
				display: block;
				padding: 14px 12px;
				position: relative;
				border: 0;
				border-radius: 3px;
				margin-left: -12px;
				margin-right: -12px;

				.source {
					position: absolute;
					top: 18px;
					left: 10px;
				}

				&:hover {
					background: rgba(255,255,255,0.1);
				}
			}

			&.playlists {
				padding-top: 40px;

				.list-item {
					margin: 0 0 20px 0;
					padding: 5px;

					.thumbnail {
						float: left;
						margin-right: 20px;
					}

					.source {
						position: static;
						top: auto;
						left: auto;
					}
				}
			}

			&.small .list-item {
				width: 49%;
				float: left;

				&:nth-child(2n){
					margin-left: 2%;
				}
			}
		}
	}

	&.image_zoom {
		.content {
			padding: 100px 5%;
			width: 90%;
			height: 100%;
			box-sizing: border-box;

			.image {
				width: 100%;
				height: 100%;
				background-size: contain;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
		}
	}

	&.edit_radio {
		form {
			.field {
				position: relative;
				margin-top: 50px;

				input[type="text"]{
					padding-right: 80px;
				}
			}			
		}

		.add-uri,
		.remove-uri {
			position: absolute;
			top: 5px;
			right: 0;
			padding: 8px;
			margin: 0;
			min-width: 0;
			color: #FFFFFF;
			background: transparent;

			&:before {
				display: none !important;
			}

			&:hover {
				color: $turquoise;

				&.remove-uri {
					color: $red;
				}
			}
		}
	}

	&.kiosk_mode {
		background: #000000;
		overflow: hidden;

		.content {
			padding: 5%;
			width: 90%;
			height: 90%;
			text-align: center;

			.background {
				position: absolute;
				top: -5vh;
				right: -5vw;
				bottom: -5vh;
				left: -5vw;
				width: auto;
				opacity: 0.2;
				max-width: none;

				.image {
					@include blur();
					width: 110vw;
					padding-bottom: 110vh;
				}
			}

			.foreground {
				width: 70vw;
				margin: 0 auto;
				max-width: 70vh;
				max-height: 70vh;
				z-index: 2;
			}

			.current-track {
				padding-top: 50px;
				font-size: 30px;

				.artist-sentence {
					opacity: 0.5;
				}
			}
		}
	}

	&.send_authorization {
		.list {
			padding-top: 40px;
		}
	}

	&.receive_authorization {
		.user-details {
			@include clearfix();
			padding: 70px 0 0 120px;
			min-height: 100px;
			position: relative;

			.thumbnail {
				max-width: 100px;
				position: absolute;
				top: 50px;
				left: 0;
			}
		}
	}

	&.track_info {
		.lyrics {
			font-size: 1.2em;
			padding: 60px 0;
		}
	}

	.actions {
		padding-top: 50px;
		text-align: center;

		.button,
		button {
			margin: 0 3px;
		}
	}

	@include responsive($bp_medium){

		.content {
			padding: 100px 10%;
			width: 80%;

			.list {
				.list-item {
					float: none !important;
					width: auto;
					margin-left: 0 !important;
					border-top: 0;
					width: auto !important;
					margin: 0;
				}
			}

		}
	}
}