

.notifications {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 99;
	pointer-events: none;
	width: 200px;

	.notification {
		display: block;
		position: relative;
		background: $dark_grey;
		padding: 12px 32px 12px 18px;
		margin: 10px 0 0 0;
		color: #FFFFFF;
		pointer-events: all;

		.close-button {
			position: absolute;
			top: 10px;
			right: 11px;
			font-size: 11px;
			padding: 4px;
			cursor: pointer;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		&.good {
			background: $green;
		}

		&.info {
			background: $yellow;
			color: #000000;
		}

		&.bad {
			background: $red;
		}

		&.loading {
			position: relative;
			padding-right: 18px;

			&:after {
				position: absolute;
				display: block;
				content: '';
				background: $blue;
				opacity: 1;
			    animation: slideloader 1s infinite;
				bottom: 0;
				left: 0;
				right: 0;
				height: 3px;
				z-index: 1;
			}
		}
	}

	.shortcut-notification {
		position: fixed;
		top: 50vh;
		left: 50vw;
		height: 400px;
		width: 400px;
		margin: -200px 0 0 -200px;
		background: $dark_grey;
		color: $white;
		border-radius: 10px;
		text-align: center;

		.fa {
			font-size: 140px;
			line-height: 400px;
		}
	}
}