

.notifications {
	position: fixed;
	bottom: 15px;
	right: 30px;
	z-index: 97;
	pointer-events: none;
	width: 300px;

	.notification {
		@include fadein();
		display: block;
		position: relative;
		background: $darkest_grey;
		padding: 16px 40px 16px 22px;
		margin: 10px 0 0 0;
		color: $white;
		pointer-events: all;
		
		h4 {
			padding-top: 0;
		}

		p a {
			color: inherit;
			text-decoration: none;
			border-bottom: 1px dotted $black;
		}

		.close-button {
			position: absolute;
			top: 4px;
			right: 0;
			font-size: 12px;
			padding: 14px;
			cursor: pointer;
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		&.good {
			background: $green;
		}

		&.broadcast {
			background: $yellow;
			color: $black;
		}

		&.bad {
			background: $red;
		}

		&.process {
			position: relative;
			padding-right: 18px;

			&.cancelling {
				color: rgba(255,255,255,0.5);
			}

			&:after {
				position: absolute;
				display: block;
				content: '';
				background: $blue;
				opacity: 1;
			    animation: slideloader 1s infinite;
				bottom: 0;
				left: 0;
				right: 0;
				height: 4px;
				z-index: 1;
			}
		}
	}

	.shortcut-notification {
		position: fixed;
		top: 50vh;
		left: 50vw;
		height: 400px;
		width: 400px;
		margin: -200px 0 0 -200px;
		background: $overlay_dark;
		color: $white;
		border-radius: 10px;
		text-align: center;

		.fa {
			font-size: 140px;
			line-height: 400px;
		}
	}

	.loading {
		@include pulse(0.1s);
		position: fixed;
		bottom: 8px;
		right: 8px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: $mid_grey;

		&.high {
			background: $red;
		}

		&.medium {
			background: $orange;
		}

		&.low {
			background: $green;
		}
	}

	@include responsive( $bp_medium ){
		bottom: 48px;
		left: 0;
		right: 0;
		width: auto;

		.loading {
			bottom: 20px;
			right: 40px;
		}
	}
}