
.output-control {
	position: relative;

	&.disabled {
		& > .control {
			opacity: 0.2;
			cursor: not-allowed;
		}
	}

	&__items {
		position: absolute;
		bottom: 40px;
		right: -150px;
		width: 300px;
		background: $white;
		color: $black;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
		border-radius: 3px;
		box-shadow: 2px 3px 6px rgba(0,0,0,0.2);
		z-index: 9;

		&:after {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			background: $white;
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			bottom: -3px;
			right: 159px;
		}

		.no-results {
			font-size: 1rem;
			text-align: center;
			opacity: 0.5;
			font-weight: normal;
		}
	}

	&__item {
		padding: 16px 20px 12px;
		position: relative;

		&:not(:first-child) {
			border-top: 1px solid rgba(0,0,0,0.05);
		}

		&__name {
			padding-bottom: 5px;
		}

		&__actions {
			float: right;
			
			.action {
				@include animate();
				cursor: pointer;
				color: $mid_grey;

				&:hover {
					color: $dark_grey;
				}
			}
		}

		&__details {
			display: block;
			position: relative;
			padding-left: 50px;
		}

		&__power {
			@include click_feedback(rgba(0,0,0,0.5));
			position: absolute !important;
			top: -2px;
			left: -2px;
			width: 18px;
			height: 10px;
			border-radius: 50%;
			padding: 2px 0 6px 0;
			font-size: 10px;
			text-align: center;
			color: $white;
			background: $faint_grey;
			cursor: pointer;

			&--on {
				color: $red;
			}

			&--off {
				color: $green;
			}
		}

		&__volume {
			.mute-control {
				@include click_feedback(rgba(0,0,0,0.5));
				position: absolute !important;
				top: -2px;
				left: 24px;
				padding: 2px;
				color: $black;
			}
		}
	}

	@include responsive($bp_medium){
		.outputs {
			width: 86vw;
			right: 0;

			&:after {
				right: 9px;
			}
		}
	}
}

