
.output-control {
	position: relative;

	&.disabled {
		& > .control {
			opacity: 0.2;
			cursor: not-allowed;
		}
	}

	&__items {
		position: absolute;
		bottom: 40px;
		right: -150px;
		width: 300px;
		background: $white;
		color: $black;
		font-size: 14px;
		font-weight: 600;
		text-align: left;
		border-radius: 3px;
		box-shadow: 2px 3px 6px rgba(0,0,0,0.2);
		z-index: 9;

		&:after {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			background: $white;
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			position: absolute;
			bottom: -3px;
			right: 159px;
		}

		.no-results {
			font-size: 1rem;
			text-align: center;
			opacity: 0.5;
			font-weight: normal;
		}
	}

	&__item {
		padding: 12px 18px 8px;
		position: relative;

		&:not(:first-child) {
			border-top: 1px solid rgba(0,0,0,0.05);
		}

		&__actions {
			float: right;
			
			.action {
				@include animate();
				cursor: pointer;
				color: $mid_grey;

				&:hover {
					color: $dark_grey;
				}
			}
		}

		&--has-power-button {
			.output-control__item__volume {
				padding-left: 50px;
			}
		}

		&__volume {
			padding-top: 2px;
			padding-left: 25px;
		}

		&__mute.control {
			@include click_feedback(rgba(0,0,0,0.5));
			padding: 2px;
			color: $black;
			float: left;
			font-size: 16px;
		}

		&__power {
			@include click_feedback(rgba(0,0,0,0.5));
			width: 18px;
			height: 18px;
			text-align: center;
			color: $white;
			cursor: pointer;
			float: left;
			margin-top: -2px;
			margin-right: 6px;

			.icon {
				padding-top: 5px;
				font-size: 12px;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 2px;
				left: 0;
				width: 100%;
				padding-bottom: 100%;
				background: $red;
				z-index: -1;
				border-radius: 50%;
				opacity: 1;
			}
		}
	}

	@include responsive($bp_medium){
		&__items {
			width: 86vw;
			right: 0;

			&:after {
				right: 9px;
			}
		}
	}
}

