$parallax: 'parallax';

.#{$parallax} {
	position: relative;
	height: 40vh;

	&__image {
		@include animate(0.5s);
		position: absolute;
		top: -10px;
		left: -10px;
		bottom: -10px;
		right: -10px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 30%;
		opacity: 0;
		transform: translateZ(-400px) scale(1.4);
		transform-origin: top center;
	}

	&__overlay {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		background-image: linear-gradient(rgba(24,24,24,0), rgba(24,24,24,1));
		z-index: 1;
	}

	&--blur {
		.#{$parallax} {
			&__image {
				@include blur();
			}
		}
	}

	&--loaded {
		.#{$parallax} {
			&__image {
				opacity: 1;
			}
		}
	}

	.light-theme & {
		&__stage {
			background-color: colour(faint_grey);
		}

		&__overlay {
			background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
		}
	}
}
