$parallax: 'parallax';

.#{$parallax} {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	max-height: 80vh;
	transform: translateZ(-400px) scale(1.4);
	transform-origin: top center;
	z-index: -1;
	background-color: lighten(colour(dark_grey), 10%);

	&__inner {
		position: absolute;
		top: -1px;
		right: -1px;
		left: -1px;
		bottom: -1px;
	}

	&__image {
		@include animate(0.5s);
		position: absolute;
		top: -10px;
		left: -10px;
		bottom: -10px;
		right: -10px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 30%;
		opacity: 0;
	}

	&__overlay {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		background-image: linear-gradient(rgba(24,24,24,0), rgba(24,24,24,1));
		z-index: 1;
	}

	&--blur {
		.#{$parallax} {
			&__image {
				@include blur();
			}
		}
	}

	&--loaded {
		.#{$parallax} {
			&__image {
				opacity: 1;
			}
		}
	}

	.light-theme & {
		background: colour(white);

		&__image {
			background-color: colour(white);
		}

		&__overlay {
			background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
		}
	}
}
