
.playback-controls {
	position: fixed;
	z-index: 99;
	bottom: 0;
	right: 0;
	left: 0;
	height: 60px;
	background: colour(white);
	color: colour(darkest_grey);
	transform-style: preserve-3d;
	border-left: 230px solid colour(white);

	.current-track {
		position: absolute;
		bottom: 0;
		width: 220px;
		left: -230px;
		z-index: 1;
		text-decoration: none;

		@keyframes slide_left {
			0% {
				transform: translateX(0px);
				opacity: 1;
			}
			100% {
				transform: translateX(-15px);
				opacity: 0;
			}
		}

		@keyframes slide_right {
			0% {
				transform: translateX(0px);
				opacity: 1;
			}
			100% {
				transform: translateX(15px);
				opacity: 0;
			}
		}

		&__transition {
			z-index: 2;
			background: lighten(colour(white), 15%);

			.text {
				@include animate(0.15s);
				opacity: 0;
			}

			@include responsive($bp_medium){
				animation-duration: 0.25s;
				animation-timing-function: ease-out;

				&--previous {
					animation-name: slide_right;
				}

				&--next {
					animation-name: slide_left;
				}
			}
		}

		.thumbnail {
			float: left;
			cursor: pointer;
			width: 44px;
			margin: 8px;
			margin-right: 12px;

			&:before {
				@include animate();
				display: block;
				content: "\f065";
				font-family: "FontAwesome";
				position: absolute;
				top: 50%;
				left: 0;
				bottom: 0;
				right: 0;
				margin-top: -9px;
				text-align: center;
				font-size: 18px;
				color: colour(white);
				z-index: 3;
				opacity: 0;
			}

			&:after {
				@include animate();
				content: '';
				display: block;
				background: rgba(0,0,0,0.75);
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border-radius: 3px;
				opacity: 0;
				z-index: 2;
			}

			&:hover{
				&:after,
				&:before {
					opacity: 1;
				}
			}
		}

		.text {
			opacity: 1;
			line-height: 1.1rem;
			font-size: 0.9rem;
			padding-top: 1.05rem;

			.title {
				@include one_line_text;
			}
	
			.artist-sentence {
				opacity: 0.5;
				display: block;
				@include one_line_text;
	
				.artist {
					color: inherit;
					text-decoration: none;
					border-bottom: 1px dotted transparent;
				}
			}
		}
	}

	.control {
		@include animate();
		@include noselect();
		@include click_feedback();
		color: colour(darkest_grey);
		cursor: pointer;
		padding: 12px 8px;
		display: inline-block;
		vertical-align: bottom;
		background: none;

		.icon {
			font-size: 0.9rem;
			margin-bottom: 0;
		}

		&--active {
			color: colour(turquoise) !important;
		}

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	section {
		position: absolute;
		bottom: 10px;

		&.playback {
			bottom: 7px;
			left: 0;
			width: 10rem;

			.control {
				padding-left: 4px;
				padding-right: 4px;

				.icon {
					font-size: 1.3rem;
				}

				&.play {
					margin-bottom: -0.8rem;
					color: colour(turquoise);

					.icon {
						font-size: 3rem;
					}
				}
			}
		}

		&.progress {
			bottom: 13px;
			left: 10rem;
			right: 25rem;
			padding-left: 20px;
			padding-right: 20px;
			color: colour(mid_grey);

			.slider {
				position: absolute;
				bottom: 2px;
				left: 60px;
				right: 60px;
			}

			.current {
				font-size: 11px;
				position: absolute;
				bottom: 6px;
				left: 0;
				width: 50px;
				text-align: right;
			}

			.total {
				font-size: 11px;
				position: absolute;
				bottom: 6px;
				right: 0;
				width: 50px;
			}
		}

		&.settings {
			right: 14rem;
			width: 10rem;
			text-align: center;
		}

		&.volume {
			right: 2rem;
			width: 10rem;
			font-size: 18px;

			.slider__wrapper {
				position: absolute;
				bottom: 6px;
				right: 0;
				left: 30px;
			}
		}

		&.triggers {
			display: none;
		}
	}

	@include responsive($bp_medium){
		border-left: none;

		.current-track {
			width: auto;
			bottom: 0.65rem;
			left: 80px;
			right: 80px;
			text-align: center;
			font-size: 0.9rem;
			line-height: 1.2em;
			color: colour(darkest_grey) !important;
			margin: auto;

			.title,
			.artist {
				padding-top: 0;
			}

			.thumbnail {
				display: none;
			}
		}

		section {

			&.playback {
				left: 0;
				width: 40px;

				.control {
					&.play {
						margin-bottom: -1rem;
					}

					&.previous,
					&.next {
						display: none;
					}
					
					&.stop {
						display: none;
					}
				}
			}

			&.settings {
				display: none;
			}

			&.volume {
				display: none;
			}

			&.progress {
				display: none;
			}

			&.triggers {
				display: block;
				right: 10px;

				@include resolution(2){
					font-size: 1.3rem;
					bottom: 4px;
				}

				.sidebar-toggle.open {
					opacity: 1 !important;

					&:before {
						background: rgba(0,0,0,0.8);
						content: '';
						display: block;
						position: fixed;
						bottom: 0;
						right: 0;
						width: 100vw;
						height: 100vh;
						z-index: 99;
					}
				}
			}
		}

		&--expanded {
			height: 140px;
			max-height: 100%;

			section {
				&.settings {
					display: block;
					right: 0;
					bottom: 90px;
					padding-right: 10px;
					text-align: right;
					width: 100px;
				}

				&.volume {
					width: auto;
					display: block;
					right: 100px;
					left: 10px;
					bottom: 88px;

					@include resolution(2){
						right: 115px;
						
						.slider__wrapper {
							bottom: 9px;
						}
					}
				}

				&.progress {
					display: block;
					bottom: 55px;
					left: -15px;
					right: -15px;
				}
			}
		}

		@include resolution(2){

			.control {
				padding: 14px 8px;
			}
		}
	}
}

