
.playback-controls {
	position: fixed;
	z-index: 99;
	bottom: 0;
	right: 0;
	left: 0;
	height: 50px;
	background: $darkest_grey;
	color: $white;

	.background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: none;
		width: auto;

		.image {
			@include blur();
			opacity: 0.25;
			padding-bottom: 0;
			border-radius: 0;
			position: absolute;
			top: -20px;
			right: -20px;
			bottom: -20px;
			left: -20px;
		}
	}

	.current-track {
		@include animate();
		position: absolute;
		top: 16px;
		left: 100px;
		right: 100px;
		text-align: center;
		font-size: 14px;
		color: $white;
		text-decoration: none;

		& > .title {
			@include one_line_text;
			display: inline-block;
			padding: 0 5px;
		}

		& > .artist {
			opacity: 0.5;
			display: inline-block;
			padding: 0 5px;
			vertical-align: top;

			.artist-sentence {
				@include one_line_text;

				.artist {
					color: inherit;
					text-decoration: none;
					border-bottom: 1px dotted transparent;
				}
			}
		}
	}

	.control {
		@include animate();
		font-size: 12px;
		color: $white;
		cursor: pointer;
		padding: 10px 8px;
		display: inline-block;
		vertical-align: bottom;
		opacity: 0.8;

		.icon {
			svg {
				height: 12px;
			}
		}

		&.play {
			margin-bottom: -4px;

			.icon {
				svg {
					height: 24px;
				}
			}
		}

		&.active {
			color: $turquoise !important;
			
			svg {
				fill: $turquoise !important;
			}
		}

		&:hover {
			opacity: 1;
		}
	}

	section {
		position: absolute;
		bottom: 8px;

		&.playback {
			bottom: 6px;
			left: 10px;
			width: 125px;
			text-align: center;
		}

		&.progress {
			@include animate();
			top: -5px;
			left: 0;
			right: 0;
			bottom: auto !important;
			color: $mid_grey;

			.slider {
				.track {
					@include animate();
					border-radius: 0;
					background: none;
					height: 2px;

					.progress {
						border-radius: 0;
					}
				}
			}

			.current {
				@include animate();
				font-size: 11px;
				position: absolute;
				bottom: 6px;
				left: 0;
				width: 50px;
				text-align: right;
				opacity: 0;
			}

			.total {
				@include animate();
				font-size: 11px;
				position: absolute;
				bottom: 6px;
				right: 0;
				width: 50px;
				opacity: 0;
			}

			&:hover {
				top: -12px;

				.slider {
					.track {
						height: 8px;
					}
				}

				.current,
				.total {
					/*opacity: 1;*/
				}
			}
		}

		&.settings {
			right: 170px;
			width: 100px;
			text-align: center;
		}

		&.volume {
			bottom: 10px;
			right: 20px;
			width: 150px;

			.modal-trigger {
				display: none;
			}

			.control {
				position: absolute;
				bottom: 0;
				left: 0;
			}

			.slider-wrapper {
				position: absolute;
				bottom: 2px;
				right: 0;
				left: 30px;
			}

			.muted {
				.slider .progress {
					background: $mid_grey;
				}
			}
		}

		&.triggers {
			display: none;
		}
	}

	@include responsive($bp_medium){

		.current-track {
			width: auto;
			bottom: auto;
			bottom: 8px;
			left: 60px;
			right: 60px;
			text-align: center;
			font-size: 12px;

			.title {
				padding-top: 0;
			}

			.thumbnail {
				display: none;
			}
		}

		section {

			&.playback {
				left: 0;
				width: 60px;

				.control {
					&.play {
						margin-bottom: 0;

						.icon {
							svg {
								height: 12px;
							}
						}
					}
					&.previous {
						display: none;
					}
					&.stop {
						display: none;
					}
				}
			}

			&.settings {
				display: none;
			}

			&.volume {
				display: none;
			}

			&.progress {
				display: none;
			}

			&.triggers {
				display: block;
				right: 10px;

				.sidebar-toggle.open {
					opacity: 1 !important;

					&:after {
						background: rgba(0,0,0,0.8);
						content: '';
						display: block;
						position: fixed;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						z-index: 99;
					}
				}
			}
		}

		&.expanded {
			height: 150px;

			section {

				&.settings {
					display: block;
					right: 20px;
					bottom: 60px;
					text-align: right;
				}

				&.volume {
					width: auto;
					display: block;
					right: 130px;
					left: 22px;
					bottom: 60px;
				}

				&.progress {
					display: block;
					bottom: 110px;
					left: 0;
					right: 0;
				}
			}
		}
	}
}

