
.related-artists {
	padding-bottom: 20px;
	cursor: pointer;
	
	&__item {
		@include clearfix();
		display: block;
		border: 0;
		margin: 20px 0;
		padding: 0;

		&__thumbnail {
			@include animate();
			border-radius: 50%;
			width: 60px;
			max-width: 60px;
			margin-right: 15px;
			float: left;
			border: 3px solid transparent;
		}

		&__name {
			display: block;
			padding-top: 20px;
			font-size: 15px;
		}

		&--link {
			border: none !important;

			&:hover {
				background: transparent;
				border: 0;

				.related-artists__item__thumbnail {
					border-color: colour('turquoise');
					opacity: 1;
				}
			}
		}
	}
}
