
.search-form {
	z-index: 3;
	position: relative;

	input {
		background: transparent;
		border-bottom: 1px solid #FFFFFF;
		padding: 16px 0 8px;
		width: 100%;
		color: #FFFFFF;

		&:focus,
		&:active {
			border-color: $turquoise;
		}
	}

	&.sidebar {
		padding: 10px 15px 0 15px;

		.autocomplete-field {
			.results {
				top: 42px;
			}

			&.loading {
				.input:after {
					background: $turquoise;
				}
			}
		}
	}

}

