
aside{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 96;
	width: 220px;
	overflow: hidden;
	background: $off_white;
	color: $darkest_grey;

	.liner {
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		box-sizing: border-box;
		z-index: 2;
	}

	@include responsive( $bp_medium ){
		width: 220px;
		left: -220px;
		position: fixed;
		z-index: 98;

		.sidebar-open & {
			left: 0px;
		}

		.liner {
			bottom: 0 !important;
		}

		.thumbnail {
			display: none;
		}
	}

	@include responsive( null, null, $bp_shallow ){
		.liner {
			bottom: 60px;
		}
	}
	
	.thumbnail {
		position: absolute;
		top: -30px;
		right: -30px;
		bottom: -30px;
		left: -30px;
		height: auto;
		width: auto;
		max-width: none;
		z-index: 1;
		opacity: 0.2;

		.image {
			@include blur();
			padding-bottom: 0;
			height: 100%;
		}
	}

	nav {
		z-index: 2;
		position: relative;
		padding-top: 8px;

		a {
			@include animate();
			@include feature_font();
			font-weight: 800;
			font-size: 16px;
			color: $black;
			text-decoration: none;
			display: block;
			padding: 6px 25px;

			.icon {
				height: 14px;
				padding-right: 8px;
				vertical-align: top;
				margin-top: 1px;
			}

			&.active {
				color: $turquoise;
				opacity: 1 !important;

				.icon {

				}
			}

			&[disabled] {
				opacity: 0.3;
				cursor: not-allowed;
			}

			&:hover:not([disabled]) {
				opacity: 0.65;
			}
		}

		section {
			padding: 15px 0;

			title {
				display: block;
				padding: 0 26px 5px 26px;
				font-size: 10px;
				text-transform: uppercase;
				opacity: 0.5;
				color: $mid_grey;
			}
		}

	}

	@include responsive( $bp_medium ){
	}
}