
aside{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 96;
	width: 220px;
	overflow: hidden;
	background: $off_white;
	color: $darkest_grey;

	.liner {
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 120px;
		box-sizing: border-box;
		z-index: 2;
		overflow-y: auto;
	}

	nav {
		z-index: 2;
		position: relative;
		padding-top: 20px;
		line-height: 1em;

		a {
			@include feature_font();
			@include gradient_overlay(3px);
			font-weight: 800;
			font-size: 15px;
			color: $darkest_grey;
			text-decoration: none;
			display: block;
			padding: 9px 10px 5px;
			margin: 0 16px;
			border-radius: 3px;
			line-height: 18px;

			.icon {
				height: 14px;
				padding-right: 12px;
				vertical-align: top;
				margin-top: 0;
			}

			&.active {
				background: $turquoise;
				color: $white;

				&:before {
					opacity: 0.15;
				}

				.icon {
					@include invert();
				}
			}

			&[disabled] {
				opacity: 0.3;
				cursor: not-allowed;
			}

			&:hover:not([disabled]){
				&:before {
					opacity: 0.15;
				}
			}
		}

		section {
			padding-bottom: 25px;

			title {
				display: block;
				padding: 0 26px 5px 26px;
				font-size: 10px;
				text-transform: uppercase;
				opacity: 0.5;
				color: $mid_grey;
			}
		}
	}

	@include responsive( $bp_medium ){
		width: 220px;
		left: -220px;
		padding-bottom: 0;
		position: fixed;
		z-index: 100;

		.sidebar-open & {
			left: 0px;
		}

		.liner {
			bottom: 0 !important;
		}

		.thumbnail {
			display: none;
		}
	}
}