
aside{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 96;
	width: 220px;
	overflow: hidden;
	background: $darkest_grey;
	border-right: 1px solid lighten($dark_grey, 2%);
	color: $white;
	box-sizing: border-box;

	.light-theme & {
		background: lighten($faint_grey, 2%);
		border-right: none;
	}

	.liner {
		overflow-y: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 120px;
		box-sizing: border-box;
		z-index: 2;
		overflow-y: auto;
	}

	.branding {
		height: 50px;
		margin-top: 30px;
		opacity: 0.2;

		background: {
			image: url('../assets/app-icon.svg');
			position: 50% 50%;
			repeat: no-repeat;
			size: contain;
		}
	}

	nav {
		z-index: 2;
		position: relative;
		padding-top: 20px;
		line-height: 1em;

		a {
			@include gradient_overlay(3px);
			font-family: "Overpass";
			font-weight: 500;
			font-size: 14px;
			color: $white;
			text-decoration: none;
			display: block;
			padding: 10px 10px 8px;
			margin: 0 16px;
			border-radius: 3px;
	
			.light-theme & {
				color: $dark_grey;
				font-weight: 600;
			}

			.icon {
				padding-right: 8px;
				vertical-align: top;
				margin-top: -1px;
				font-size: 14px;
			}

			.status {
				margin-left: 5px;
				float: right;

				.icon {
					padding-right: 0;
					padding-left: 8px;
				}
			}

			&.active {
				background: $turquoise;
				color: $white;

				&:before {
					opacity: 0.15;
				}
			}

			&[disabled] {
				opacity: 0.3;
				cursor: not-allowed;
			}

			&:hover:not([disabled]){
				&:before {
					opacity: 0.15;
				}
			}

			&:active {
				@include noanimate();
				transform: translate(1px,1px);
			}
		}

		section {
			padding-bottom: 25px;

			title {
				display: block;
				padding: 0 26px 5px 26px;
				font-size: 10px;
				text-transform: uppercase;
				opacity: 0.5;
				color: $mid_grey;
			}
		}
	}

	.close {
		display: none;
		position: absolute;
		bottom: 4px;
		right: 4px;
		padding: 10px 8px;
		display: inline-block;
		opacity: 0.5;
		z-index: 99;
	}

	@include responsive($bp_medium){
		@include animate(0.15s);
		width: 220px;
		left: auto;
		right: -220px;
		padding-bottom: 0;
		position: fixed;
		z-index: 100;

		.sidebar-open & {
			-ms-transform: translate(-220px, 0);
			-webkit-transform: translate(-220px, 0);
			transform: translate(-220px, 0);
		}

		.liner {
			bottom: 0 !important;
			padding-bottom: 30px;
		}

		.thumbnail {
			display: none;
		}

		.close {
			display: block;
		}

		nav {
			section {
				padding-bottom: 10px;

				title {
					padding-bottom: 2px;
				}
			}
		}
	}
}