
.sources-priority-field {
	padding: 7px 0;

	.source {
		@include animate();
		display: inline-block;
		border-radius: 3px;
		padding: 6px 8px 4px 3px;
		margin: 0 5px 5px 0;
		cursor: move;
		font-size: 12px;
		font-weight: normal;
		background: rgba(255,255,255,0.1);
		color: colour('white');

		&.sortable-chosen {
			background: colour('grey');
		}

		.icon {
			font-size: 14px;
			padding-right: 0.1em;
			color: colour('darkest_grey');
		}

		&:hover {
			background: rgba(255,255,255,0.2);
		}

		@include theme('light') {
			background: colour('faint_grey');
			color: inherit;

			&:hover {
				background: darken(colour('faint_grey'), 4%);
			}
		}
	}
}
