.sub-views {
  &__option {
    @include feature_font();
    @include animate();
    color: colour('white');
    display: inline-block;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 0;
    padding-bottom: 3px;
    cursor: pointer;

    @include theme('light') {
      color: colour('darkest_grey');
    }

    h4 {
      margin: 8px 0 4px;
    }

    &--active,
    &:hover {
      border-bottom-width: 3px !important;
      border-bottom-style: solid;
      padding-bottom: 0px;
    }

    &--active {
      border-color: colour('white') !important;

      @include theme('light') {
        border-color: colour('darkest_grey') !important;
      }
    }

    &:not(.sub-views__option--active):hover {
      border-color: colour('soft_grey') !important;

      @include theme('light') {
        border-color: colour('light_grey') !important;
      }
    }
  }

  @include responsive($bp_medium) {
    &__option {
      margin-right: 15px;
    }
  }
}
