main .album-view {
  padding-left: 30%;
  position: relative;

  .title {
    h2 {
      padding-top: 10px;

      a:hover {
        color: darken(colour('mid_grey'), 20%);
      }
    }

    .details {
      padding: 25px 0 30px;
    }
  }

  .actions {
    padding-bottom: 30px;
  }

  .thumbnail-wrapper {
    position: absolute;
    padding: 40px;
    width: 30%;
    top: 0;
    left: 0;
    box-sizing: border-box;

    .thumbnail {
      max-width: 100%;
    }
  }

  .wiki {
    padding-top: 40px;
  }

  @include responsive($bp_medium) {
    padding-top: 0;
    padding-left: 10px;

    .thumbnail-wrapper {
      width: 300px;
      max-width: 60%;
      padding: 30px 0 0 0;
      position: static;
      margin: 0 auto;

      .thumbnail {
        float: none;
        max-width: none;
        margin: 0 0 0 0;
      }
    }

    .title {
      padding: 40px 0 0 0;
      text-align: center;

      .description {
        padding-top: 10px;
      }

      .details {
        padding: 5px 0;
      }
    }

    .actions {
      @include clearfix();
      text-align: center;
      padding: 30px 0 20px 0;
    }
  }
}
