
.album-view {
	.main {
		padding-left: 35%;

		.title {
			padding: 30px 40px;

			h3 {
				color: $mid_grey;
				a:hover {
					color: darken($mid_grey, 20%);
				}
			}
		}
	}

	.intro {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 35%;
		background: $faint_grey;

		.thumbnail {
			float: none;
			margin: 0 auto;
			max-width: none;
		}

		.details {
			padding: 30px;
		}

		.artist-grid {
			padding: 0;
			margin: 0;

			.grid-item {
				margin: 0;
				width: 50%;
				position: relative;
				background: #000000;

				.name {
					@include animate();
					position: absolute;
					top: 40%;
					left: 0;
					right: 0;
					text-align: center;
					color: #FFFFFF;
					opacity: 0;
					z-index: 2;
					font-weight: bold;;
					font-size: 14px;
				}

				.secondary {
					display: none;
				}

				&:hover {
					.thumbnail {
						opacity: 0.3;
					}

					.name {
						opacity: 1;
					}
				}
			}
		}
	}
}
