.modal {
  @include fadein();
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: darken(colour('darkest_grey'), 2%);
  color: colour('white');
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
  z-index: 98;

  @include theme('light') {
    background: darken(colour('faint_grey'), 6%);
    color: colour('darkest_grey');
  }

  .controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    display: flex;

    .control {
      @include noselect();
      @include animate();
      display: flex;
      align-items: center;
      opacity: 0.5;
      cursor: pointer;
      padding: 20px;
      color: colour('white');

      &:hover {
        opacity: 1;
      }

      .icon {
        font-size: 35px;
      }

      @include theme('light') {
        color: colour('darkest_grey');
      }
    }
  }

  .actions {
    padding-top: 50px;
    text-align: center;

    .button,
    button {
      margin-top: 0;
    }
  }

  .content {
    padding: 80px 20%;
    margin: 0 auto;
    width: 60%;
    color: inherit;

    h1 {
      padding-bottom: 20px;
      padding-right: 60px;
    }

    .no-results {
      padding: 0;
    }

    form {
      padding-top: 50px;

      .field {
        padding-bottom: 20px;
        position: relative;

        .name {
          font-size: 16px;
          width: 18%;
          padding-right: 2%;
          float: left;
          padding-top: 8px;
          color: colour('mid_grey');
        }

        .description {
          padding-left: 0;
          padding-right: 0;
        }

        &.radio,
        &.checkbox {
          padding-top: 8px;
        }
      }
    }

    .add-uri,
    .remove-uri {
      position: absolute;
      top: 2px;
      right: 6px;
      padding: 8px;
      margin: 0;
      min-width: 0;
      color: #ffffff;
      background: transparent;
      margin-top: 0 !important;

      &.remove-uri {
        top: 6px;
      }

      &:before {
        display: none !important;
      }

      &:hover {
        color: colour('turquoise');

        &.remove-uri {
          color: colour('red');
        }
      }

      @include theme('light') {
        &:not(:hover) {
          color: colour('darkest_grey');
        }
      }
    }

    @include responsive($bp_medium) {
      .add-uri {
        top: 36px;
      }
    }

    .list {
      @include clearfix();

      &__item {
        @include animate();
        box-sizing: border-box;
        display: block;
        padding: 14px 12px 12px;
        position: relative;
        border: 0;
        border-radius: 3px;
        margin-left: -12px;
        margin-right: -12px;
        font-size: 16px;

        .source {
          position: absolute;
          top: 18px;
          left: 10px;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }

      &.playlists {
        padding-top: 40px;

        .list__item {
          margin: 5px 0;
          padding: 10px;

          &:before {
            display: none;
          }

          .thumbnail {
            float: left;
          }

          &__name,
          &__details {
            padding-left: 70px;
          }

          &__name {
            padding-top: 0;
            margin-bottom: 5px;
            display: block;
          }

          .source {
            position: static;
            top: auto;
            left: auto;
          }
        }
      }

      &.small {
        display: flex;
        flex-wrap: wrap;

        .list__item {
          width: 50%;
          font-size: inherit;
        }
      }
    }
  }

  &--image-zoom {
    .content {
      text-align: center;
      padding: 100px 5%;
      width: 90%;
      box-sizing: border-box;

      img {
        max-width: 100%;
      }
    }
  }

  &--edit-radio,
  &--add-to-queue {
    form {
      .field {
        input[type="text"] {
          padding-right: 80px;
        }
      }
    }
  }

  &--share-configuration,
  &--reset {
    .checkbox-group {
      &__item {
        padding-bottom: 0.75rem;
      }
    }

    .field.checkbox {
      .label {
        display: flex;

        .title {
          font-size: 1.2rem;
        }

        .description {
          padding-top: 0;
        }
      }
    }
  }

  &--hotkeys-info {
    .list {
      &__item {
        display: flex;

        pre {
          display: inline-block;
          padding: 2px 3px;
        }

        .description {
          padding-left: 1rem;
        }
      }
    }
  }

  &--kiosk-mode {
    background: colour('black');
    overflow: hidden;

    .content {
      padding: 5%;
      width: 90%;
      height: 90%;
      display: flex;
      flex-flow: row;
      align-items: center;
      align-content: center;

      .thumbnail.background {
        position: absolute;
        top: -5vh;
        right: -5vw;
        bottom: -5vh;
        left: -5vw;
        width: auto;
        opacity: 0.2;
        max-width: none;
        z-index: -1;

        .thumbnail__image {
          @include blur(100px);
          width: 110vw;
          padding-bottom: 110vh;
        }
      }

      .player {
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;

        .track {
          height: 90%;
          width: 100%;
          display: flex;
          flex-flow: column;

          &__artwork {
            text-align: center;
            z-index: 2;
            position: relative;
            cursor: pointer;
            width: 100%;
            flex-grow: 1;
            align-items: center;
            display: flex;
            flex-flow: column;

            .thumbnail {
              max-width: 50vh;
            }
          }

          &__info {
            font-size: 2rem;
            padding-top: 40px;
            .links-sentence {
              opacity: 0.5;
            }
          }
        }

        .playback {
          &__controls {
            padding-top: 40px;
            .control {
              @include animate();
              @include noselect();
              @include click_feedback();
              cursor: pointer;
              background: transparent;
              color: white;
              font-size: 2.4rem;
              margin: 0 10px;

              @include theme('light') {
                color: colour('darkest_grey');
              }
            }
          }
          &__progress {
            padding-top: 40px;
            .slider {
              &__track {
                background: rgba(128, 128, 128, 0.25);
              }
            }
          }
        }

        &--with-lyrics {
          width: 30%;

          .track {
            &__info {
              font-size: 1.6rem;
            }
          }
        }
      }

      .lyrics {
        width: 70%;
        height: 100%;
        margin-top: 50px;
        overflow-y: hidden;
        position: relative;

        &__content {
          font-size: 1.6rem;
          line-height: 2.2rem;
          position: absolute;
          top: 50%;
          left: 10%;
          width: 80%;
          transition: transform 0.9s linear;
          text-align: center;

          @include responsive(null, null, $bp_medium) {
            font-size: 1.4rem;
            line-height: 1.8rem;
          }

          @include responsive($bp_medium) {
            font-size: 1rem;
            line-height: 1.4rem;
          }
        }
      }

      @include responsive($bp_medium) {
        flex-flow: column;
        padding-top: 60px !important;
        padding-bottom: 40px !important;
        height: calc(100% - 80px) !important;

        .player {
          width: 100%;
          .track {
            display: flex;
            flex-flow: row;
            align-items: center;
            &__artwork {
              width: 25%;
            }
            &__info {
              padding-top: 0;
              width: 75%;
              font-size: 1.2rem;
            }
          }
          .playback {
            &__progress {
              display: none;
            }
          }
        }
        .lyrics {
          width: 100%;
        }
      }

      @include responsive(null, null, $bp_shallow) {
        flex-flow: column;
        padding-top: 60px !important;
        padding-bottom: 40px !important;
        height: calc(100% - 80px) !important;

        .player {
          .track {
            display: flex;
            flex-flow: row;
            align-items: center;
            &__artwork {
              width: 25%;
            }
            &__info {
              padding-top: 0;
              width: 75%;
              font-size: 1.2rem;
            }
          }
          .playback {
            &__progress {
              display: none;
            }
          }
        }
      }
    }
  }

  @include responsive($bp_medium, null, $bp_shallow) {
    .controls {
      top: 0;
      right: 0;

      .control {
        padding: 12px;
      }
    }

    .content {
      padding: 40px 5%;
      width: 90%;

      form {
        padding-top: 20px;

        .field {
          padding-bottom: 8px;

          .name {
            font-size: inherit;
            width: auto;
            float: none;
          }
        }
      }

      .list,
      .list.small {
        .list__item {
          float: none;
          width: auto;
          margin-left: 0;
          border-top: 0;
          width: 100%;
          margin: 0;

          &.draggable {
            .drag-handle {
              padding-top: 14px;
              padding-bottom: 14px;
            }
          }
        }
      }
    }
  }
}
