
main .playlist-view {
	padding-left: 30%;
	position: relative;

	.title {
		padding-bottom: 30px;

		h3 {
			color: $mid_grey;
			a:hover {
				color: darken($mid_grey, 20%);
			}
		}
	}

	.source {
		text-transform: uppercase;
		padding-bottom: 15px;
	}

	.actions {
		padding-bottom: 30px;
	}

	.description {
		padding-bottom: 5px;
	}

	.thumbnail-wrapper {
		position: absolute;
		padding: 40px;
		width: 30%;
		top: 0;
		left: 0;
		box-sizing: border-box;

		.thumbnail {
			max-width: 100%;
		}
	}

	@include responsive( $bp_medium ){
		.title {
			padding: 20px 20px;
		}

		.thumbnail {
			float: none;
			max-width: none;
			margin: 0 0 0 0;

			.image {
				padding-bottom: 70%;
			}
		}

		.actions {
			text-align: center;
			padding-bottom: 20px;
		}
	}
}
