
.playlist-view {

	.title {
		padding: 30px 40px;

		h3 {
			color: $mid_grey;
			a:hover {
				color: darken($mid_grey, 20%);
			}
		}
	}

	.source {
		text-transform: uppercase;
		padding-bottom: 15px;
	}

	.actions {
		@include clearfix();
	}

	.description {
		padding-bottom: 5px;
	}

	.thumbnail {
		float: left;
		max-width: 230px;
		margin: 0 30px 30px 0;
	}

	@include responsive( $bp_medium ){
		.title {
			padding: 20px 20px;
		}

		.thumbnail {
			float: none;
			max-width: none;
			margin: 0 0 0 0;

			.image {
				padding-bottom: 70%;
			}
		}

		.actions {
			text-align: center;
			padding-bottom: 20px;
		}
	}
}
