
.queue-view {

	.player {
		text-align: center;
		padding: 40px 20px 10px;

		.artwork,
		.controls a {
			border: 0;
		}

		.artwork,
		.controls,
		.progress {
			display: block;
			max-width: 400px;
			margin: 0 auto;
		}

		.controls {
			padding: 20px 0 10px;
			a {
				font-size: 18px;
			}
		}

		.thumbnail {
			max-width: none;
		}

		.current-track {
			padding: 20px 0 0 0;
			font-weight: 700;
		}

		.slider {
			margin-top: 0;
			.track {
				background: rgba(0,0,0,0.2);
			}
		}
	}

	.radio {
		margin: 20px auto 0;
		padding: 10px 12px;
		max-width: 400px;
		background: $faint_grey;
		box-sizing: border-box;
	}
}