
.queue-view {

	.parallax {
		opacity: 0.5;
		margin-bottom: -45vh;
	}

	.current-track {
		text-align: center;
		padding: 60px 0;

		.artwork {
			position: relative;
			margin: 0 auto;
			width: 60%;
			max-width: 60vh;
			display: block;
			border: 0 !important;

			.thumbnail {
				margin: 0 auto;
				max-width: 100%;
			}

			&.radio-enabled {
				.thumbnail {
					box-sizing: border-box;
				}

				.radio-overlay {
					position: absolute;
					top: -15%;
					left: -15%;
					width: 130%;
					height: 130%;
					z-index: 2;
				}
			}
		}

		.title {
			font-size: 18px;
			padding-top: 20px;
		}

		.artist-sentence {
			display: block;
			font-size: 18px;
			opacity: 0.5;
		}
	}
}