
.search-view {

	.search-result-sections {
		section {
			.inner {
			}
		}
	}

	@include responsive( $bp_medium ){
		.search-result-sections {
			padding: 10px 10px 0;
			
			section {
				width: auto;
				float: none;
			}
		}
	}
}