
.search-view {

	.search-result-sections {
		padding: 20px 20px 0;

		section {
			.inner {
				padding: 10px 20px 0 20px;
			}
		}
	}

	@include responsive( $bp_medium ){
		.search-result-sections {
			padding: 10px 10px 0;
			
			section {
				width: auto;
				float: none;
			}
		}
	}
}