
.settings-view {
	.services {
		.service {
			position: relative;
			display: inline-block;
			padding: 0 0 0 45px;
			margin: 0 20px 10px 0;
			min-width: 80px;

			h4 {
				padding: 0;
				margin: 0 0 -3px 0;
				text-transform: capitalize;
			}

			.icon {
				width: 35px;
				height: 25px;
				position: absolute;
				top: 2px;
				left: 0;
				border-radius: 50%;
				color: $white;
				text-align: center;
				padding-top: 10px;

				&.connecting {
					background: $mid_grey;
				}

				&.connected {
					background: $green;
				}

				&.warning {
					background: $orange;
				}

				&.disconnected {
					background: $red;
				}
			}

			.text {

			}
		}
	}

	.field.current-user {
		.text {
			padding: 14px 14px 14px 0px;

			.user {
				border: 0;
				position: relative;

				.thumbnail {
					@include animate();
					position: absolute;
					display: block;
					top: -14px;
					left: 0;
					max-width: 40px;
					border: 2px solid transparent;
					border-radius: 50%;
				}

				.user-name {
					padding: 2px 14px 2px 55px;
				}

				&[href]:hover {
					.thumbnail {
						cursor: pointer;
						border-color: $turquoise;
					}
				}
			}
		}
	}

	.field.pusher-connections {
		.connection.me {
			font-weight: bold;
		}
	}

	@include responsive( $bp_medium ){
		.services {
			.service {
				padding: 0 0 0 30px;
				margin-bottom: 0;
				min-width: 0px;

				h4 {
					padding-top: 1px;
				}

				.icon {
					height: 15px;
					width: 20px;
					padding-top: 5px;
					font-size: 10px;
				}

				.text {
					display: none;
				}
			}
		}

		section {
			padding: 20px;
		}
	}
}


.debugger-view {
	section {
		padding: 40px;
	}

	@include responsive( $bp_medium ){
		section {
			padding: 20px;
		}
	}
}