
.settings-view {

	.intro {
		position: relative;
		@include clearfix();

		.parallax {
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: auto;
			opacity: 0.5;
		}

		.liner {
			position: relative;
			z-index: 1;
			padding: 20vh 40px 0;

			.sub-views {
				position: relative;
			}
		}
	}

	.content-wrapper {
		padding-top: 0;
	}

	.field.current-user {
		.text {
			.user {
				border: 0;
				position: relative;

				.thumbnail {
					@include animate();
					position: absolute;
					display: block;
					top: -14px;
					left: 0;
					max-width: 40px;
					border: 2px solid transparent;
					border-radius: 50%;
				}

				.user-name {
					padding: 2px 14px 2px 55px;
				}

				&[href]:hover {
					.thumbnail {
						cursor: pointer;
						border-color: $turquoise;
					}
				}
			}
		}
	}

	.field.pusher-connections {
		.connection.me {
			color: $turquoise;
		}
	}

	@include responsive($bp_medium){
		.intro {
			.liner {
				padding: 15vh 20px 0;
			}
		}

		.content-wrapper {
			padding-bottom: 60px;
		}

		.field.pusher-connections {
			.connection {
				.col {
					width: auto;
					display: inline-block;
					padding-right: 10px;
				}
			}
		}

		.field.current-user {
			.text {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		section {
			padding: 20px;
		}
	}
}


.debugger-view {
	section {
		padding: 40px;
	}

	@include responsive($bp_medium){
		section {
			padding: 20px;
		}
	}
}