
.settings-view {

	.field.current-user {
		.text {
			.user {
				border: 0;
				position: relative;

				.thumbnail {
					@include animate();
					position: absolute;
					display: block;
					top: -14px;
					left: 0;
					max-width: 40px;
					border: 2px solid transparent;
					border-radius: 50%;
				}

				.user-name {
					padding: 2px 14px 2px 55px;
				}

				&[href]:hover {
					.thumbnail {
						cursor: pointer;
						border-color: $turquoise;
					}
				}
			}
		}
	}

	.commands {
		padding-bottom: 20px;
		
		&__item {
			position: relative;

			&__actions {
				position: absolute;
				top: 12px;
				right: 0;

				.action {
					padding: 12px 8px;
				}
			} 
		}
	}

	.field.pusher-connections {
		.connection.me {
			color: $turquoise;
		}
	}

	@include responsive($bp_medium){
		.content-wrapper {
			padding-bottom: 60px;
		}

		.field.pusher-connections {
			.connection {
				.col {
					width: auto;
					display: inline-block;
					padding-right: 10px;
				}
			}
		}

		.field.current-user {
			.text {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		section {
			padding: 20px;
		}
	}
}


.debugger-view {
	section {
		padding: 40px;
	}

	@include responsive($bp_medium){
		section {
			padding: 20px;
		}
	}
}