main .track-view {
	padding-left: 30%;
	position: relative;

	.title {
		.details {
			padding: 25px 0 30px;

			.flag {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.actions {
		padding-bottom: 30px;
	}

	.thumbnail-wrapper {
		position: absolute;
		padding: 40px;
		width: 30%;
		top: 0;
		left: 0;
		box-sizing: border-box;

		.thumbnail {
			max-width: 100%;
		}
	}

	.lyrics {
		.body-loader {
			padding: 10vh 0;
		}

		.content {
			padding-bottom: 20px;

			*,
			& * {
				font-size: 18px;
				line-height: normal;
				white-space: normal;
			}
		}
	}

	.lyrics-selector {
		padding-bottom: 20px;
	}

	@include responsive($bp_medium){
		padding-top: 10px;
		padding-left: 10px;

		.thumbnail-wrapper {
			width: 100px;
			padding: 0 20px 10px 0;
			float: left;
			position: static;

			.thumbnail {
				float: none;
				max-width: none;
				margin: 0 0 0 0;
			}
		}

		.title {
			padding: 5px 0 20px 100px;

			.details {
				padding: 5px 0;
			}
		}

		.actions {
			@include clearfix();
			padding: 10px 0 20px;
		}
	}

	@include responsive($bp_small){

		.actions {
			padding: 0;
		}
	}
}
