
.user-view {
	.intro {
		@include clearfix();
		position: relative;

		.liner {
			position: relative;
			z-index: 1;
			padding: 35vh 40px 0;

			h1 {
				padding-bottom: 15px;
				font-size: 4rem;
			}

      .heading {
        display: flex;
        align-items: center;

        &__thumbnail {
          width: 140px;
          margin-right: 30px;
				}
				
				&__content {
					padding-top: 20px;
					
					&__details {
						display: flex;
					}
				}
      }
		}
	}

	@include responsive($bp_medium){
		.intro {

			.thumbnail {
				float: none;
				margin: 0 auto 20px;
			}

			.liner {
				padding: 15vh 10px 0;
			}

			h1 {
				padding-top: 0;
				font-size: 3rem;
				line-height: 3rem;
			}
		}
	}
}
