

body,
html {
	background: #F5F5F5;
	color: #000000;
	font-family: "Archivo Narrow", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

main {

	padding-left: 200px;

	a {
		color: inherit;
		text-decoration: none;
		border-bottom: 1px dotted transparent;

		&:hover {
			border-color: #000000;
		}
	}

	section {
		padding: 40px;
	}

	h3 {
		font-size: 14px;
		margin-bottom: 14px;
		text-transform: uppercase;

		&.underline {
			padding-bottom: 4px;
			border-bottom: 1px solid #000000;			
		}
	}
}

.col {
	min-height: 1px;
	float: left;

	&.c2w1 {	width: 50%; }
	&.c3w1 {	width: 33.3334%; }
	&.c3w2 {	width: 66.6667%; }
	&.c4w1 {	width: 25%; }
	&.c4w3 {	width: 75%; }
	&.c5w1 {	width: 20%; }
	&.c5w2 {	width: 40%; }
	&.c5w3 {	width: 60%; }
	&.c5w4 {	width: 80%; }
}

.cf{
	@include clearfix;
}