
@font-face {
    font-family: 'Overpass';
    src: url('../assets/fonts/overpass-italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/overpass-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('../assets/fonts/overpass-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/overpass-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('../assets/fonts/overpass-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/overpass-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('../assets/fonts/overpass-extrabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/overpass-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body,
html {
	background: $dark_grey;
	color: $light_grey;
	font-family: "Overpass", Helvetica, Arial, sans-serif;
	font-size: 14px;
	letter-spacing: -0.01rem;
	touch-action: manipulation;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

	.light-theme {
		background: $white;
		color: $darkest_grey;
	}
}

*::-webkit-scrollbar{
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-track {
	background: $dark_grey;
}

*::-webkit-scrollbar-thumb {
	@include animate();
	background: $grey;
	border-radius: 4px;

	&:hover {
		background: $mid_grey;
	}
}

body {
	overflow-y: scroll;
	overflow-x: hidden;

	&.touch-dragging,
	&.no-scrollbars {
		overflow-y: hidden;
	}

	@include responsive($bp_medium){
		&.context-menu-open {
			overflow-y: hidden;
		}
	}
}

main,
footer {
	margin-left: 220px;

	@include responsive(null, null, $bp_shallow){
		padding-bottom: 60px;
	}

	@include responsive($bp_medium){
		margin-left: 0;
	}
}

main {
	position: relative;
	min-height: 100vh;

	.content-wrapper {
		padding: 40px 40px 80px;
	}

	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		border-bottom: 1px solid transparent;

		&:hover {
			border-color: $mid_grey;
		}
	}

	p {
		font-size: 18px;
		line-height: 1.5em;
		white-space: pre-wrap;
	}

	@include responsive($bp_medium){

		.content-wrapper {
			padding: 20px 10px 60px;
		}

		section.list-wrapper {
			padding: 10px 0;
		}
	}

	pre {
		padding: 20px;
		background: $darkest_grey;
		border-radius: 3px;
		color: $white;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
}

h1 {
	@include feature_font();
	color: $white;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.2rem;

	.light-theme & {
		color: $dark_grey;
	}
}

h2 {
	@include feature_font();
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.2rem;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid $white;
		}
	}

	&.grey-text {
		a:hover {
			color: $mid_grey !important;
			border-bottom: 1px solid $mid_grey;
		}
	}
}

h3 {
	font-weight: 100;
	font-size: 1.4em;
	line-height: 1.6em;

	&.bottom-padding {
		padding-bottom: 30px;
	}
}

h4 {
	@include feature_font();
	font-size: 1.3rem;
	margin-bottom: 14px;
	font-weight: 700;

	&.underline {
		padding-bottom: 4px;
		border-bottom: 1px solid $grey;
	}

	&:not(:first-child){
		padding-top: 40px;
	}

	.dropdown-field {
		margin-left: 10px;
	}
}

h5 {
	font-size: 1rem;
	margin-bottom: 4px;
	font-weight: 700;
}

p {
	a {
		color: inherit;

		&:hover {
			opacity: 0.8;
		}
	}
}

.hide {
	width: 0px;
	height: 0px;
	position: fixed;
	z-index: -99;
	top: -99px;
	left: -99px;
}

.no-results {
	text-align: center;
	padding: 40px;
	color: $grey;
	font-style: italic;
	font-size: 1.2rem;
}

.placeholder {
	display: inline-block;
	height: 1.2em;
	width: 100px;
	max-width: 100%;
	background: rgba(150,150,150,0.15);
	pointer-events: none !important;
}

h1 .placeholder {
	width: 50%;
}

h2 .placeholder,
h3 .placeholder,
h4 .placeholder {
	max-width: 50%;
	width: 150px;
}

button.placeholder {
	border-color: transparent;
	height: auto;
}

.list-wrapper .placeholder {
	display: block;
	width: auto;
	margin: 25px 40px;
	height: 10px;

	@include responsive($bp_medium){
		margin-left: 20px;
		margin-right: 20px;
	}
}

.grid-wrapper .placeholder {
	height: auto;
	
	&:after {
		content: ' ';
		display: block;
		padding-bottom: 100%;
	}
}

.related-artists .list-wrapper .placeholder {
	position: relative;
	margin: 40px 20px 50px 65px;

	&:after {
		content: ' ';
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: rgba(150,150,150,0.15);
		position: absolute;
		top: -20px;
		left: -65px;
	}
}

.no-top-padding {		padding-top: 0 !important; }
.no-bottom-padding {	padding-bottom: 0 !important; }
.no-right-padding {		padding-right: 0 !important; }
.no-left-padding {		padding-left: 0 !important; }
.no-top-margin {		margin-top: 0 !important; }
.no-bottom-margin {		margin-bottom: 0 !important; }

.top-padding {			padding-top: 20px; }
.bottom-padding {		padding-bottom: 20px; }
.right-padding {		padding-right: 40px; }
.left-padding {			padding-left: 40px; }

.col {
	min-height: 1px;
	float: left;

	&.w5 {		width: 5%; }
	&.w10 {		width: 10%; }
	&.w15 {		width: 15%; }
	&.w20 {		width: 20%; }
	&.w25 {		width: 25%; }
	&.w30 {		width: 30%; }
	&.w33 {		width: 33.3334%; }
	&.w35 {		width: 35%; }
	&.w40 {		width: 40%; }
	&.w45 {		width: 45%; }
	&.w50 {		width: 50%; }
	&.w55 {		width: 55%; }
	&.w60 {		width: 60%; }
	&.w65 {		width: 65%; }
	&.w66 {		width: 66.6667%; }
	&.w70 {		width: 70%; }
	&.w75 {		width: 75%; }
	&.w80 {		width: 80%; }
	&.w85 {		width: 85%; }
	&.w90 {		width: 90%; }
	&.w95 {		width: 95%; }
	&.w100 {	width: 100%; }
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.cf {
	@include clearfix;
}

.hidden {
	display: none !important;
}

.pulse { @include pulse(); }
.one-liner { @include one_line_text; }
.centred-text { text-align: center; }
.grey-text { color: $mid_grey !important; }
.dark-grey-text { color: lighten($dark_grey, 8%) !important; }
.red-text { color: $red !important; }
.blue-text { color: $blue !important; }
.green-text { color: $green !important; }
.orange-text { color: $orange !important; }
.yellow-text { color: $yellow !important; }
.dark-text { color: $dark_grey !important; }
.grey-border { border-color: $mid_grey !important; }
.red-border { border-color: $red !important; }
.green-border { border-color: $green !important; }
.orange-border { border-color: $orange !important; }
.dark-border { border-color: $dark_grey !important; }

footer {
	display: block;
	color: $light_grey;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.details {
	list-style-type: none;
	color: $mid_grey;

	li {
		display: inline-block;

		&:not(:first-child){
			@include bullet();
		}
	}
}

.flag {
	font-size: 9px;
	font-weight: bold;
	display: inline-block;
	padding: 3px 5px 1px;
	background: $light_grey;
	color: $dark_grey;
	border-radius: 3px;
	vertical-align: bottom;
	margin: 0 8px 1px;

	&.blue {
		background: $blue;
		color: $white;
	}

	&.info {
		background: $yellow;
	}

	&.warning {
		background: $orange;
		color: $white;
	}

	&.error,
	&.bad {
		background: $red;
		color: $white;
	}

	&.dark {
		background: lighten($dark_grey,10%);
		color: $mid_grey;
	}

	&.large {
		padding: 8px 10px 7px;
		font-size: 12px;
	}

	h1 &,
	h2 & {
		line-height: 1.4em;
		vertical-align: middle;
	}
}

.message {
	padding: 10px 12px 8px;
	background: $yellow;
	color: $dark_grey;
	clear: both;
	font-size: 14px;
	border-radius: 3px;

	&.info {
		background: $yellow;
	}

	&.notice {
		background: $blue;
		color: $white;
	}

	&.warning {
		background: $orange;
		color: $white;
	}

	&.error,
	&.bad {
		background: $red;
		color: $white;
	}
}



@include responsive($bp_medium){
	
	h1 {
		font-size: 1.8rem;
		line-height: 1.8rem;
	}
	
	h2 {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
	
	h3 {
		font-size: 1rem;
	}
	
	.right-padding {
		padding-right: 20px;
	}

	.left-padding {
		padding-left: 20px;
	}
}