
:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

button,
textarea,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="email"],
input[type="date"],
select {
	padding: 10px 14px;
	background: $faint_grey;
	color: $darkest_grey;
	font-family: "Archivo Narrow", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.button-wrapper {	
	padding: 10px 0;
	margin-top: -1px;

	&.large {
		padding: 16px 0;
	}
}

.text-button {
	cursor: pointer;

	&.destructive {		
		color: $red;
	}
}

.button,
button,
input[type="button"],
input[type="submit"] {
	@include animate();
	display: inline-block;
	padding: 9px 20px 7px;
	margin: 0 20px 10px 0;
	color: $white;
	background: $dark_grey;
	font-size: 14px;
	font-weight: 700;
	box-sizing: border-box;
	font-family: "Overpass";
	border-radius: 3px;
	vertical-align: middle;
	position: relative;
	border: 0 !important;

	&:before {
		@include animate();
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		z-index: 9;
		background: -webkit-linear-gradient(to bottom right, rgba(255,255,255,1), rgba(0,0,0,0.5));
		background: -moz-linear-gradient(to bottom right, rgba(255,255,255,1), rgba(0,0,0,0.5));
		background: -o-linear-gradient(to bottom right, rgba(255,255,255,1), rgba(0,0,0,0.5));
		background: linear-gradient(to bottom right, rgba(255,255,255,1), rgba(0,0,0,0.5));
	}

	&:hover{
		cursor: pointer;
		box-shadow: 2px 3px 6px rgba(0,0,0,0.2);

		&:before {
			opacity: 0.15;
		}
	}

	&:active {
		@include noanimate();
		background: $black;
		color: $white;
		margin-top: 1px;
		margin-bottom: 9px;
	}

	&.primary {
		background: $turquoise;
		color: $white;
		&:active {
			background: $black;
		}
	}

	&.white {
		color: $black;
		background: $white;
	}

	&.confirming,
	&.destructive {
		background: $red;
		color: $white;
	}

	&.alternative {
		background: $blue;
		color: $white;
	}

	&.timing-out {
		position: relative;
		&:before {
			@include animate_timeout(2s);
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 0;
			background: $black;
			opacity: 0.25;
		}
	}

	&.discrete {
		border: transparent;

		&[disabled],
		&[disabled="disabled"] {
			border-color: $light_grey !important;
		}
	}

	&.working {
		position: relative;

		&:after {
			pointer-events: none;
			position: absolute;
			display: block;
			content: '';
		    animation: slideloader 1s infinite;
			background: $mid_grey;
			opacity: 0.5;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
	}

	&.context-menu-trigger {
		border-color: transparent;
		padding: 6px;
		margin-bottom: 8px;
		font-size: 20px;
		min-width: 0;
		line-height: 20px;
		color: #000000;
		vertical-align: bottom;

		.fa {
			pointer-events: none;
		}

		&:hover {
			border-color: transparent;
			background: rgba(0,0,0,0.1);
		}

		&:active {
			color: #FFFFFF;
			background: #000000;
		}

		&.white {
			color: #FFFFFF;

			&:hover {
				border-color: transparent;
				background: rgba(255,255,255,0.1);
			}

			&:active {
				color: #000000;
				background: #FFFFFF;
			}
		}
	}

	&[disabled],
	&[disabled="disabled"]{
		opacity: 0.5;
		cursor: not-allowed !important;

		&,
		&:hover,
		&:active {
			color: $mid_grey;
			border-color: $mid_grey;
			background: transparent;
		}
	}

	.flag {
		font-size: 10px;
		margin-left: 3px;
		padding: 1px 4px;
		line-height: 1.2em;
		vertical-align: top;
		margin-top: 6px;
	}

	@include responsive( $bp_medium ){
		min-width: 120px;
		margin-right: 10px;
	}

	@include responsive( $bp_narrow ){
		min-width: 0;
	}
}

.actions {

	.button:last-of-type,
	button:last-of-type {
		margin-right: 0;
	}
}

.field {
	display: block;
	padding-bottom: 8px;
	@include clearfix;

	.name {
		display: block;
		padding-top: 10px;
		width: 15%;
		float: left;
	}

	label {
		display: inline-block;
	}

	.description {
		display: inline-block;
		padding: 10px 14px;
	}

	.input {
		width: 85%;
		float: left;
		
		input,
		select,
		textarea {
			width: 100%;
		}

		.text {
			display: block;
			padding: 10px 14px 10px 0;
		}
	}

	&.radio,
	&.checkbox {
		input{
			display: none;
		}

		.input {
			padding-top: 4px;
		}

		.label {
			display: inline-block;
			float: none;
			width: auto;
			padding: 5px 30px 5px 30px;
			position: relative;
			cursor: pointer;
		}
	}

	&.radio {
		input + .label:before {
			content: ' ';
			display: inline-block;
			width: 14px;
			height: 14px;
		    border-radius: 50%;
			border: 2px solid #000000;
			position: absolute;
			top: 4px;
			left: 0;
		}

		input:checked + .label:before {
		    background: #000000;
		    box-shadow: inset 0px 0px 0px 4px #f5f5f5;
		}

		&.white {
			input + .label:before {
				border-color: #FFFFFF;
			}

			input:checked + .label:before {
			    background: #FFFFFF;
			    box-shadow: inset 0px 0px 0px 4px #222222;
			}
		}
	}

	&.checkbox {
		input + .label:before {
			font-family: FontAwesome;
			font-size: 8px;
			content: ' ';
			color: #000000;
			display: inline-block;
			width: 11px;
			height: 11px;
			padding: 3px 0 0 3px;
			border: 2px solid #000000;
			position: absolute;
			top: 5px;
			left: 0;
		}

		input:checked + .label:before {
			content: '\f00c';
		}

		&.white {
			input + .label:before {
				border-color: #FFFFFF;
			}

			input:checked + .label:before {
			    color: #FFFFFF;
			}
		}
	}

	.error {
		color: $red;
		display: inline-block;
	}
}

@include responsive( $bp_medium ){
	.field {

		.name {
			float: none;
			width: auto;
			padding: 0 0 4px 0;
		}

		.input {
			float: none;
			width: auto;

			.text {
				padding: 0;
			}
		}

	}
}