
$turquoise: #08d58f;
$light_grey: #DDDDDD;
$mid_grey: #AAAAAA;
$dark_grey: #333333;
$secondary_grey: #888888;
$red: #cf2d2d;

@mixin one_line_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin clearfix {
	&::after {
		content: '';
		clear: both;
		display: block;
	}
}

@mixin animate( $speed: 0.2s ){
	-webkit-transition: all $speed ease-in-out;
	   -moz-transition: all $speed ease-in-out;
		 -o-transition: all $speed ease-in-out;
		    transition: all $speed ease-in-out; 
}

@mixin blur( $size: 10px ) {
	-webkit-filter: blur( $size );
	filter: blur( $size );
}