RewriteEngine On

RewriteBase /iris/

# Handle Mopidy-Images requests
# TODO: Look to move this into the Thumbnail component 
RewriteRule ^images/(.*)$ http://%{HTTP_HOST}:6680/images/$1 [NC,L]

# Rewrite iris subfolder
# This is required so our HTML file can use /iris/ as baseURL for mopidy-styled domain (ie localhost:6680/iris/index.html)
RewriteRule ^iris/(.*)$ /$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
