
@import 'vendor/font-awesome/index';

@import 'global/variables';
@import 'global/core';
@import 'global/reset';
@import 'global/forms';

@import 'components/context-menu';
@import 'components/loader';
@import 'components/modal';
@import 'components/dragger';
@import 'components/images';
@import 'components/icon';
@import 'components/search-form';
@import 'components/slider';
@import 'components/playback-controls';
@import 'components/sidebar';
@import 'components/sidebar-toggle-button';
@import 'components/lists';
@import 'components/grid';
@import 'components/grid-slider';
@import 'components/header';
@import 'components/notifications';
@import 'components/dropdown-field';
@import 'components/autocomplete-field';
@import 'components/debug';

@import 'views/artist';
@import 'views/user';
@import 'views/album';
@import 'views/playlist';
@import 'views/queue';
@import 'views/search';
@import 'views/library';
@import 'views/discover';
@import 'views/settings';

