RewriteBase /

# Rewrite our application folders
RewriteRule ^iris/service-worker.js app/service-worker.js [L]
RewriteRule ^iris/assets/(.*) assets/$1 [L]
RewriteRule ^iris/app/(.*) app/$1 [L]

# Setup non-react folders and assets. These need to be accessible
# outside of the ReactJS app.
RewriteCond %{REQUEST_URI} app [OR]
RewriteCond %{REQUEST_URI} assets
RewriteRule (.*) $1 [L]

# Rewrite everything else to our ReactJS app
# This allows nice URLS and React-Router will do the rest
RewriteRule ^ index.html [L]